@use "_variables" as *;

/* navigation bar */

#nav-bar {
  position: relative;
  width: 100%;
  height: 16vh;
  background-color: $backgroundColorContainer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem;
  padding-left: 5rem;
}

#logo {
  width: 7rem;
}

#nav-bar .grp2 ul {
  display: flex;
  list-style: none;
  gap: 6rem;
}

#nav-bar .grp2-member {
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: $mainFontColor;
  transition: 0.5s ease;
}

#nav-bar .grp2-member:hover {
  /* font-size: 1.4rem; */
  color: $supplementaryFontColor;
}

#nav-bar .grp2 ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.down:hover {
  animation: rotate 1s ease-in-out;
  cursor: pointer;
}

#nav-bar .grp2 ul li:last-child {
  position: relative;
}

.navExtraWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 12vw;
  gap: 0.5rem;
  padding: 1rem 1rem;
  position: absolute;
  transform: translateY(20%);
  z-index: 5;
  background-color: $backgroundColorContainer;
  box-shadow: rgba(0, 0, 0, 0.081) 0px 3px 6px, rgba(0, 0, 0, 0.081) 0px 3px 6px;
  border-radius: 0.25rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}

.down:hover + .navExtraWrap {
  visibility: visible;
  opacity: 0.9;
}

.navExtraWrap:hover {
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease;
}

/* button that shows the right nav bar */
#inviNav {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.rightNavBarGrp3 {
  position: absolute;
  top: 1rem;
  right: 0rem;
}

/* rightnavbar styling */
.navBarRightStyle {
  width: 30%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColorNavBar;
  backdrop-filter: blur(10px);
  gap: 2rem;
  transition: 2s ease;
  display: none;
  box-shadow: -1px 0 0.25rem #8f8f8f4f;
  z-index: 4;
}

/* declaring classes that would hide  and remove sidenav */
.showsideNav {
  display: flex;
}

/* logo in the sidebar */
#navBarRight .rightNavBarGrp1 img {
  width: 50%;
  background-color:$backgroundColorContainer ;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  display: block;
  margin-left: 2rem;
}

#navBarRight .rightNavBarGrp2 ul {
  list-style: none;
}

#navBarRight .rightNavBarGrp2 li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
  line-height: 3;
  color: $f2f3f7;
  text-shadow: 1px 1px 0.25rem #000000e8;
}

/* sidenavbar toggle button  */
.rightNavBarGrp3 {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* sidenavbar toggle button svg */
#navBarRight .rightNavBarGrp3 svg {
  margin-left: -8rem;
}