* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/* animations for growing */
  @keyframes growContinous {
  50%{
    transform: scale(0.9);
  }}

  /* animations for scrolling */

  @keyframes scrollContinous {
    to{
      transform: translateX(-300%);
    }}
    
    
  @keyframes scrollContinousMobile {
    0%{
      transform: translateX(250%);
    }

    100%{
      transform: translateX(-250%);
    }
/* 
    0%{transform: translateX(100%);}
    20%{transform: translateX(60%);}
    40%{transform: translateX(20%);}
    80%{transform: translateX(-20%);}
    80%{transform: translateX(-60%);} */
    /* 100%{transform: translateX(-100%);} */
  }

  
  /* animation for spin */
@keyframes rotate {
  50% {
    transform: rotate(360deg);
  }
}

/* animation for hero image*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  /*  
  40% {
    opacity: 0.4;
  }
  /* 60% {
    opacity: 0.2;
  } */
  80% {
    opacity: 0.9;
  }
  /*   
  99% {
    opacity: 0.9;
  } */

  /* 100% {
    opacity: 1;
  } */
}


html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  max-width:100vw;
  min-width:100vw;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

/* main container */

.container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #fcfbfa;
}

/* navigation bar */

#nav-bar {
  position: relative;
  width: 100%;
  height: 16vh;
  background-color: #fcfbfa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem;
  padding-left: 5rem;
}

/* :hover #nav-bar{
  background-color: #2c2b2b;
} */

#logo {
  width: 8rem;
}

#nav-bar .grp2 ul {
  display: flex;
  list-style: none;
  gap: 4rem;
}

#nav-bar .grp2-member {
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #2c2b2b;
  transition: 0.5s ease;
}

#nav-bar .grp2-member:hover {
  /* font-size: 1.4rem; */
  color: #d4af37;
}

#nav-bar .grp2 ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.down:hover {
  animation: rotate 1s ease-in-out;
}

/* the drop panel itself */
#firstDownShow {
  height: 40vh;
  width: 100%;
  box-shadow: 0 2px 0.25rem #2e2e2e21;
  border-bottom: 2px solid #2c2b2b23;
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 4;
  left: 0;
  top: 100%;
  font-size: 6rem;
  text-transform: uppercase;
  padding-top: 4rem;
}

#firstDownShow h1 {
  color: #302f2fe8;
  text-shadow: 1px 1px 0.1rem #cfcfcf;
  text-align: center;
}

/* when the downarrow is hovered */
.down:hover + #firstDownShow {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #16101069;
}

/* button that shows the right nav bar */
#inviNav {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* rightnavbar styling */
.navBarRightStyle {
  width: 30%;
  height: 100vh;
  position: fixed;
  right: 0;
  /* left:0; */
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c2b2bab;
  backdrop-filter: blur(10px);
  gap: 2rem;
  transition: 2s ease;
  display: none;
  /* border-left: 1px solid #fffffffd; */
  box-shadow: -1px 0 0.25rem #8f8f8f4f;
  z-index: 4;
}

/* declaring classes that would hide  and remove sidenav */
.showsideNav {
  /* position: fixed; */
  /* background-color: red; */
  display: flex;
}

/* logo in the sidebar */
#navBarRight .rightNavBarGrp1 img {
  width: 50%;
  background-color: #f2f3f7;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  display: block;
  margin-left: 2rem;
  /* margin-right: auto; */
}

#navBarRight .rightNavBarGrp2 ul {
  list-style: none;
}

#navBarRight .rightNavBarGrp2 li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.5rem;
  line-height: 3;
  color: #f2f3f7;
  text-shadow: 1px 1px 0.25rem #000000e8;
}

/* sidenavbar toggle button  */
.rightNavBarGrp3 {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* sidenavbar toggle button svg */
#navBarRight .rightNavBarGrp3 svg {
  margin-left: -8rem;
}

/* the hero section */
#heroSection {
  width: 100%;
  height: 120vh;
  height: fit-content;
  /* background-image: url(hero.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}
/* the rest of the hero section, the most populus part */
.remHero {
  width: 100%;
  min-height: 68vh;
  height: fit-content;
  /* padding-bottom: ; */
  background-image: url(REPLACE\ THIS\ SCREEN11112111711111111.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: #000000be;
  font-size: 5.6rem;
  font-weight: 600;
  color: #f2f3f7;
  text-shadow: 1px 1px 0.25rem #000000e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s linear;
}

#remHeroText {
  width: 90%;
  text-align: center;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
}

.remHeroText2 {
  line-height: 1.6;
  letter-spacing: -0.25rem;
}

/* diifferently colored text in hero */

.span1 {
  color: #d4af35;
}

/* button and linking part of nav */

#discoverXlearnmore {
  padding-top: 7rem;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* button on hero */
#discover {
  border: 2px solid #d4af35;
  font-size: 1.5rem;
  padding: 0.7rem 2rem;
  padding: 0.75rem 3rem;
  text-transform: uppercase;
  border-radius: 4px;
  color: #f2f3f7;
  /* background-color: #f0f8ff15; */
  background-color: #d4af35;
  border: 2px solid #f2f3f7;
  border: 2px solid #f2f3f750;
  transition: 0.5s ease-in;
  cursor: pointer;
}

#discover:hover {
  background-color: #d4af35;
  color: #f2f3f7;
  border: 2px solid #f2f3f750;
}

/* text on the discover section */
.learnMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  gap: 2rem;
}

.learnMoreText {
  font-size: 1.75rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: #f2f3f7;
  font-weight: lighter;
  padding-bottom: 3rem;
}

.learnMoreIcon {
  display: none;
}

.learnMoreIconBg:hover .learnMoreIcon {
  stroke: #d4af37;
}

.learnMoreIcon:hover {
  stroke: #d4af37;
}

/* the section having the about statement   */
#moreAboutSection {
  margin-top: 11rem;
  margin-bottom: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  height: 50vh;
  gap: 2rem;
  width: 100%;

}

/*vision statement  */
.aboutHeader {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 200;
  color: #2c2b2b;
  /* color: #f2f3f7; */
  text-transform: uppercase;
}

.aboutUs {
  /* color: #f2f3f7; */
  font-size: 1.75rem;
  font-weight: 300;
  color: #2c2b2b;
}

/* testimonial styling starts */

#testimonialSection {
  width: 100vw;
  /* height: 100vh; */
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 9rem;

  /* overflow: hidden; */
}



/* coping the vissionary testimonial */


.figureWrap {
  width: 90vw;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  position: relative;
  /* gap: 40px; */
  flex-direction: column;
  position: relative;
}

.testimonialcard{
  width: 100%;
  height: 80vh;
  background-image: url(girl.svg);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: #d4af37;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.testimonialCardContentsWrapper{
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  transition: 1s ease;
color: #cfcfcf;
  align-items: center;
  justify-content: center;
  align-self:last baseline;
  margin-bottom: 6rem;
}

.testimonialcard h3{
  font-size: 1.75rem;
  text-transform: capitalize;
}

.testimonialcard h4 {
  width: 100%;
  text-wrap: left;
  font-size: 200;
  padding: 0.5rem 0.5rem;
  text-align: center;

}

.revealtext{
  margin-top: 1rem;
  font-size: 1rem;
  text-transform: capitalize;
  background-color: transparent;
  border: 2px solid #fcfbfa;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  color: #d4af35;
  display: none;
}

.testimonialCardContentsWrapper:hover > .revealtext{
  display: block;
}

.revealtext:focus{
  outline: none;
}


.arrange {
}


/* styling mission section */
#mission {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4.5rem;
  margin-top: 8rem;
}

.missionwrap {
  width: 90%;
  height: 60vh;

  display: flex;
  gap: 1.6rem;
}

.missionLeft {
  width: 70%;
}

.missionLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.missionRight {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.missionHeader h3 {
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.missionBody {
  width: 100%;
  /* height: 80%; */
  line-height: 1.6;
  font-size: 1.5rem;
  font-weight: 300;
}

/* meet our team section */
#meetOurTeam {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
  padding-top: 2rem;
}
.meetHeader h3 {
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.meetOurTeamWrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-around;
  align-items: center;
  padding: 0 2.5rem;
}

.meetOurTeamLayer {
  height: 50%;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  justify-content: center;
  gap: 4rem;
  align-items: center;
}


/* blocks in meet our team */
.meetOurTeamFigure {
  display: flex;
  flex-direction: column;
  min-width: 24vw;
  max-width: 24vw;
  height: 60vh;
  background-color: #d4af35;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.081) 0px 3px 6px, rgba(0, 0, 0, 0.081) 0px 3px 6px;
  border: 1px solid rgb(136, 136, 136);
}

.figureGrp1 {
  width: 100%;
  height: 75%;
}

.meetImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #2c2b2b;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.figureGrp2 {
  display: flex;
  height: 25%;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top: 1px solid rgba(136, 136, 136, 0.425);
}

.figureGrp2 h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.figureGrp2 h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  color: #f2f3f7e5;
  font-weight: 300;
}

/* styling footer section */
.footer {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
/* wrapper */
.footerWrap {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  width: 100%;
  height: 80vh;
  padding: 4rem 4rem;
}

/*middle rows  */
.midFoot {
  display: flex;
  max-width: 40%;
  gap: 6rem;
}

/* address part */
#soarAddress {
  line-height: 1.6;
}

/* list of links in 2nd and 3rd column of footer*/
.foot ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 1.5;
}

.foot ul li {
  text-decoration: none;
  line-height: 3;
}

/* first and last column of footer */
.footX {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  gap: 1rem;
  color: #2c2b2b;
}

/* visit elibrary button */
.footX button {
  font-size: 1.5rem;
  color: #f2f3f7;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  background-color: #d4af35;
  border: 2px solid #d1b970;
  transition: 0.4s ease-in-out;
  box-shadow: 2px 2px 0.25rem #30010163;
  cursor: pointer;
  transform: scale(1.2);
  margin-top: 1rem;
  transition: 0.4s ease-in-out;
}

/* soarHq logo in the footer */
#footerImg {
  max-width: 12rem;
  background-color: #fcfbfa;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  box-shadow: 2px 2px 0.25rem #30010163;
}

/* headers in the footer */
.foot ul li h2 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 200;
}

/* links in the footer */
.foot ul li a {
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s ease;
  font-weight: 200;
  color: #2c2b2b;
}

/* links in the footer hover state*/
.foot ul li a:hover {
  color: #d4af37;
}

.foot ul li a:visited {
  /* color: #2c2b2b; */
}

/* 3rd column address */
#soarAddress {
  font-weight: 200;
  text-transform: capitalize;
  transition: 0.5s ease;
}
#soarAddress:hover {
  color: #d4af37;
}

/* let's make this shii responsive */

@media (min-width: 2496px) {
  /* hero media queries */
  .remhero {
    height: 100vh;
  }

  /* text on hero */
  #remHeroText {
    font-size: 7rem;
    width: 80%;
    gap: 2rem;
    margin-top: 12rem;
  }

  /* button on hero */
  #discover {
    font-size: 4rem;
    margin-top: 8rem;
  }

  /* learnMore text on hero */
  .learnMoreText {
    font-size: 3rem;
  }

  /* footerwrapper media queries */
  .footerWrap {
    gap: 0;
    justify-content: space-around;
    height: 50vh;
  }
}

@media (min-width: 1500px) {
  .learnMoreText {
    margin-bottom: 4rem;
  }

  .remNav {
    height: 80vh;
  }
}
@media (min-width: 1680px) {
  body {
    .grp2-member {
      font-size: 1.5rem;
    }

    ul {
      gap: 10rem;
    }
  }
}

@media (min-width:1024px) {
  
  .meetOurTeamLayer{
    animation: growContinous  5s linear infinite;
    }

    
#meetFigure4{

  transform: translateX(50%);
}

#meetFigure5{
  transform: translateX(50%);
}

  

  /*
  #moreAboutSection{
    opacity: 0.1;
    transition: 1s ease;
  }

  #moreAboutSection:hover{
    opacity: 1;
  }

  #testimonialSection{
    opacity: 0.1;
    transition: 1s ease;
  }
  
 #testimonialSection:hover{
    opacity: 1;
  }

#meetOurTeam{
  opacity: 0.1;
  transition: 1s ease;
}

#meetOurTeam:hover{
  opacity: 1;
}

#mission{
  opacity: 0.1;
  transition: 1s ease;
}

#mission:hover{
  opacity: 1;
}

.footer{
  opacity: 0.1;
  transition: 1s ease;
}

.footer:hover{
  opacity: 1;
} */
}

/* screens closest to the base screen I used to build (1440px)*/

@media (min-width: 600px) and (max-width: 1024px) {
  body {
  }

  #inviNav {
    display: none;
  }

  .grp2 {
    display: none;
  }

  .showsideNav {
    width: 50vw;
  }

  .remHero {
    min-height: 62vh;
  }

  #remHeroText {
    font-size: 7.5rem;
    padding-top: 7rem;
    max-width: 80%;
    font-size: 5rem;
    line-height: 1.4;
  }

  .remHeroText2 {
    line-height: 1.4;
  }

  #discover {
    font-size: 1.5rem;
    padding: 1.25rem 1rem;
    width: 50%;
  }

  #discoverXlearnmore {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .learnMore {
    padding-top: 4rem;
  }

  #moreAboutSection {
    /* margin: 0; */
    /* height: 50vh; */
    /* width: 80%; */
    align-self: center;
    margin: 0;
  }

  .aboutHeader {
    /* font-size: 2rem; */
  }

  .aboutUs {
    /* font-size: 2.8rem; */
    text-align: center;
    width: 80%;
  }

  #testimonialSection {
    height: fit-content;
  }

  #testimonialBlock {
    gap: 0.5rem;
  }

  #tBlockGrp1 {
    min-width: 27%;
  }

  #meetOurTeam {
    height: fit-content;
  }

  #meetOurTeam h3 {
    font-size: 2rem;
  }

  /* our mission section */
  #mission {
    gap: 2rem;
    background-image: url(brownearth.jpg);
    background-blend-mode: darken;
    background-color: #000000be;
    background-size: cover;
    height: fit-content;
    color: #f2f3f7;
    padding: 3rem 1rem;
    /* height: 30vh; */
  }

  .missionLeft {
    display: none;
  }

  .missionRight {
    width: 100%;
    background-blend-mode: darken;
    background-size: cover;
    text-align: center;
    height: fit-content;
  }

  .missionBody {
    color: #f2f3f7;
    text-shadow: 1px 1px 0.25rem #000000e8;
    /* font-size: 2.8rem; */
  }

  #mission h3 {
    font-size: 2rem;
  }

  .missionwrap {
    height: fit-content;
  }
}

@media (max-width: 1100px) {
      /* making testimonials responsive */

      .figureWrap {
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
        row-gap: 2rem;
      }
    
}

@media (max-width: 950px) {
  #inviNav {
    display: block;
  }

  .grp2 {
    display: none;
  }

  #remHeroText {
    /* font-size: 3.7rem; */
    width: 99%;
  }

  .meetOurTeamWrap{
    flex-direction: row;
    width: fit-content;
  }

  .meetOurTeamLayer{
    animation: scrollContinous 10s 2s  infinite;
  }

}

@media (max-width: 600px) {
  .navBarRightStyle {
    width: 70%;
  }
}

/* Android smart phones close to samsung S23ultra */

@media (max-width: 450px) {
  .container {
    padding-bottom: 4rem;
    height: fit-content;
  }

  body {
    height: fit-content;
  }

  #nav-bar {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 9rem;
    padding: 0;
    align-items: center;
  }

  /* logo */
  #logo {
    width: 6rem;
  }

  .remHero {
    /* max-height: 60vh; */
    /* height: fit-content; */
    background-image: url(resBgPhoneSlim.jpg);
    background-size: cover;
    /* height: 50vh; */
  }

  #remHeroText {
    width: 80%;
    max-width: 80%;
    padding-top: 6rem;
    font-size: 3.8rem;
    letter-spacing: 2px;
  }

  .remHeroText1 {
    line-height: 1.2;
    letter-spacing: 1px;
  }

  .remHeroText2 {
    letter-spacing: 1px;
    line-height: 1.2;
  }

  #discover {
    padding: 1rem 0rem;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    letter-spacing: 2px;
    max-width: 80%;
    width: 80%;
    line-height: 1.4;
    /* background-color: transparent; */
    /* border: 2px solid #f2f3f7; */
  }

  #discoverXlearnmore {
    padding-top: 4rem;
  }

  .learnMore {
    padding-top: 4.5rem;
  }

  .learnMoreText {
    font-size: 1rem;
  }

  #moreAboutSection {
    margin: 0;
    width: 80%;
    align-self: center;
    text-align: center;
    gap: 0.5rem;
  }

  .aboutHeader {
    font-size: 1.2rem;
  }

  .aboutUs {
    font-size: 1.2rem;
  }

  /* making testimonials responsive */
  #testimonialSection {
    height: fit-content;
  }

.figureWrap {
  grid-template-columns: repeat(1,1fr);
  column-gap: 0rem;
  row-gap: 3rem;
}

.testimonialcard{
  height: 60vh;
}



  /* making meet our team in homepage responsive */

  .meetOurTeamFigure{
    min-width: 40vw;
  }

  #meetOurTeam {
    height: fit-content;
    gap: 2rem;
    margin-bottom: 0;
  }

  #meetOurTeam h3 {
    font-size: 1.2rem;
  }


  .meetOurTeamLayer {
 display: flex;
    /* gap: 2rem; */
    animation: scrollContinousMobile 8s linear infinite;
    animation-play-state: running;
  }

  .meetOurTeamLayer:hover{
animation-play-state: paused;
  }

  .meetOurTeamFigure {
    min-width: 100%;
  }

  /* our mission section */
  #mission {
    gap: 2rem;
    background-image: url(brownearth.jpg);
    background-blend-mode: darken;
    background-color: #000000be;
    background-size: cover;
    height: fit-content;
    color: #f2f3f7;
    padding: 3rem 1rem;
    height: 67vh;
  }

  /* styling missions header */

  #mission h3 {
    text-align: left;
  }

  .missionLeft {
    display: none;
  }

  .missionRight {
    width: 100%;
    background-blend-mode: darken;
    background-size: cover;
  }

  .missionBody {
    color: #f2f3f7;
    text-shadow: 1px 1px 0.25rem #000000e8;
  }

  /* footer responsive */
  .footer {
    display: flex;
    justify-content: center;
  }

  .footerWrap {
    flex-direction: column-reverse;
    padding: 0 0;
    width: 80%;
  }

  .midFoot {
    flex-direction: column;
    max-width: 100%;
  }

  #soarAddress {
    line-height: 1.4;
  }

  #footerImage {
    flex-direction: row;
  }

  #footerImg {
    margin-bottom: 4rem;
  }

  .footX h2 {
    font-size: 1.7rem;
  }

  #eLibraryBtnSection {
    margin-bottom: 7rem;
  }

  #eLibraryBtnSection button {
    font-size: 1rem;
  }

 /* animate on scroll starts */
    
      /* #moreAboutSection{
        opacity: 0.1;
        transition: 1s ease;
      }
    
      #moreAboutSection:hover{
        opacity: 1;
      }
    
      #testimonialSection{
        opacity: 0.1;
        transition: 1s ease;
      }
      
     #testimonialSection:hover{
        opacity: 1;
      }
    
    #meetOurTeam{
      opacity: 0.1;
      transition: 1s ease;
    }
    
    #meetOurTeam:hover{
      opacity: 1;
    }
    
    #mission{
      opacity: 0.1;
      transition: 1s ease;
    }
    
    #mission:hover{
      opacity: 1;
    }
    
    .footer{
      opacity: 0.1;
      transition: 1s ease;
    }
    
    .footer:hover{
      opacity: 1;
    } */
    }

@media (max-width: 415px) {
  #remHeroText {
    font-size: 2.7rem;
  }
}

@media (max-width: 400px) {
}

@media (max-width: 360px) {
  #remHeroText {
    font-size: 2.7rem;
  }

  #discover {
    padding: 1rem 0.9rem;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .learnMore {
    font-size: 1.2rem;
  }
}
